<!DOCTYPE html>
<html>
<head>
  <title><%=pet.type%></title>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
<ul>
  <h4>Show Page for Pet</h4>
    <li> <%= pet.type %> </li>
    <li> <%= pet.color %> </li>
    <li> <%= pet.size %> </li>
    <li> <%= pet.goodPet %> </li>
</ul>


<script src='/javascripts/show.js'></script>
</body>
</html>